/* Body */
body, .sidebarMenu {
  background-color: #101820;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

/* Navbar */
.navbar {
  background-color: #101820;
}

li.nav-item {
  margin-right: 30px;
}

a.nav-link.active {
  font-weight: 700;
}

ul.navbar-nav {
  margin-left: 8px;
}

a.btn-login {
  margin-right: 5px;
}

a.btn-register {
  margin-right: 10px;
}

a.btn-register:hover {
  margin-right: 10px;
  background-color: #198754;
  border-color: #198754;
  color: white;
}

a.btn-login, a.btn-register {
  font-weight: 700;
}

.user-icon {
  font-size: 25px;
  margin-right: 10px;
}

.dropdown-item {
  font-weight: 500;
}

/* Cards */
.card-body, h5.card-title, .card-body a {
  color: #343A40;
  font-weight: 700;
}

.card-text {
  color: #6C757D;
  font-size: 14px;
}

.btn-bookmark, .btn-bookmark:hover {
  background-color: rgba(0, 0, 0, .65);
  color: white;
  font-size: 25px;
}

/* Dashboard */
.w-100 {
  background-color: red;
}

/* Modal */
.modal {
  color: #343A40;
  font-weight: 700;
}

/* Card */
.card-register {
  width: 22rem;
}

.title-divider {
  background: white;
  height: 0.3rem;
  width: 6rem;
  border-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}